<%= render "modal", title: "招待" do %>
  <div class="d-flex gap-3">
    <%= text_field_tag :invite_url, reward_url(@reward.id, invitation_token: @reward.invitation_token), readonly: true, class: 'flex-grow-1' %>
    <%= button_tag '招待用URLをコピー', 
      data: { controller: "clipboard",
              action: "click->clipboard#copy",
              clipboard_content_value: reward_url(@reward.id, invitation_token: @reward.invitation_token) },
      title: "この招待URLでアクセスしたユーザのみが、このご褒美を共有できます。",
      class: 'btn btn-outline-secondary btn-sm'
    %>
  </div>
<% end %>

