<%= render "modal", title: "ご褒美へ友人・家族を招待" do %>
  <div class="d-flex flex-column">
    <div class="pb-2">
      招待したい人に以下のURLを共有して下さい。<br>
      招待URLからアクセスしたユーザはご褒美の編集・削除が可能です。<br>
      最大4人まで招待可能です。
    </div>
    <%= text_field_tag :invitation_url,
        @invitation_url,
        readonly: true,
        class: 'flex-grow-1 border border-primary-secondary rounded bg-white text-center'
    %>
    <div class="d-flex justify-content-center">
      <%= button_tag '招待用URLをコピー', 
        data: { controller: "clipboard",
                action: "click->clipboard#copy",
                invitation_url: @invitation_url },
        class: 'btn btn-primary mt-2 fs-5', style: 'width: 18rem; height: 2.5rem;'
      %>
    </div>
  </div>
<% end %>

