<%= turbo_frame_tag "cheerings_goal_#{goal.id}" do %>
  <%= button_to goal_cheerings_path(goal_id: goal.id), class: "btn btn-link" do %>
    <span style="display: inline-flex;">
      <%= image_tag("cheering-icon.png", onmouseover: "this.title='#{generate_cheerings_message(goal.cheerings)}'", size: '20x20') %>
      <%= goal.cheerings_count %>
    </span>
  <% end %>
<% end %>
