<span class="main-color" style="display: inline-flex;">
  <%= image_tag("cheering-icon.png",
                onmouseover: "this.title='#{generate_cheerings_message(goal.cheerings)}'",
                alt: '応援のマーク',
                style: 'width: 1.5rem; height: 1.5rem;')
  %>
  <%= goal.cheerings_count %>
</span>
