<% if selected_display == 'completed' %>
  <p>終了したご褒美と目標がありません。</p>
  <p>登録したご褒美と目標が設定日を過ぎると</p>
  <p>目標一覧（終了）に表示されます。</p>
<% else %>
  <p>まだ自分へのご褒美と目標が１つも登録されていません。</p>
  <p>まずは<span class="fw-bold">ご褒美を追加</span>してみましょう！</p>
  <p>目標はどんなささいなことでもいいです！</p>
<% end %>
