<% if completed_or_in_progress == 'completed' %>
  終了したご褒美と目標がありません。<br>
  終了後は編集できなくなるので、<br>
  忘れずに進捗率を更新しましょう！
<% else %>
  ご褒美と目標が登録されていません。<br>
  まずは<span class="fw-bold">ご褒美を追加</span>しましょう！<br>
  目標はどんな些細なことでも良いです！
<% end %>
