<% if selected_display == 'completed' %>
  <p>終了したご褒美と目標がありません。</p>
  <p>終了した目標は編集できなくなるので、</p>
  <p>忘れずに進捗率の更新をしましょう！</p>
<% else %>
  <p>ご褒美と目標が登録されていません。</p>
  <p>まずは<span class="fw-bold">ご褒美を追加</span>してみましょう！</p>
  <p>目標はどんな些細なことでも良いです！</p>
<% end %>
