<p>いつもGifTreatをご利用いただきありがとうございます。</p>
<p>以下のリンクからアクセスし、パスワードの再設定を行うことが可能です。</p>
<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p>もしお心当たりがない場合は、本メールを破棄していただければと思います。</p>
