<% flash.each do |flash_type, message| %>
  <% if flash_type == "notice" %>
    <div class="toast-container top-0 end-0 p-3" data-controller="toast">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <%= image_tag('favicon.png', class: 'me-2', size: '20x20') %>
          <strong class="me-auto">GifTreat</strong>
          <button class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body text-center">
          <p class="fs-4", style="color: green"><%= message %>
        </div>
      </div>
    </div>
  <% elsif flash_type == "alert" %>
    <p style="color: red"><%= message %>
  <% end %>
<% end %>
