<footer class="m-2">
  <ul class="nav d-flex align-items-center justify-content-evenly m-2">
    <li class="nav-item mx-1">
      <%= link_to '利用規約', terms_service_path %>
    </li>
    <li class="nav-item mx-1">
      <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    </li>
    <li class="nav-item mx-1">
      <%= link_to 'GitHub', 'https://github.com/SuzukiShuntarou/GifTreat', target: "_blank" %>
    </li>
    <li class="nav-item mx-1">
      © 2025 Suzuki
    </li>
  </ul>
</footer>
