<footer>
  <div class="d-flex justify-content-evenly">
    <%= link_to '利用規約', terms_service_path %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <%= link_to 'GitHub', 'https://github.com/SuzukiShuntarou/GifTreat', target: "_blank" %>
  </div>
</footer>
